@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --black: #1a1a1a;
  --white: #eee;
  --dimBlack: #3e3e3e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: var(--black);
  color: var(--white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.new-btn {
  background-color: var(--white);
  color: var(--black);
}
